/* display mode = view */
#rc-page-container {
	overflow:visible;
}

#rc-page-container[data-mode="view"] .rc-lorem-ipsum-sm:empty:after {
	display:none !important;
}

#rc-page-container[data-mode="view"] .rc-lorem-ipsum-md:empty:after {
	display:none !important;
}

#rc-page-container[data-mode="view"] .rc-lorem-ipsum-lg:empty:after {
	display:none !important;
}

#rc-page-container[data-mode="view"] .rc-requires-edit {
	display:none !important;
}

#rc-page-container[data-mode="view"] .rc-requires-flow {
	display:none !important;
}

#rc-page-container[data-mode="view"] .rc-excludes-view {
	display:none !important;
}

#rc-page-container[data-mode="view"] .rc-component-html-content {
	display:none !important;
}

/* display mode = edit */
#rc-page-container[data-mode="edit"] .rc-requires-view {
	display:none !important;
}

#rc-page-container[data-mode="edit"] .rc-requires-flow {
	display:none !important;
}

#rc-page-container[data-mode="edit"] .rc-excludes-edit {
	display:none !important;
}

#rc-page-container[data-mode="edit"] .rc-component-html-view-content {
	display:none !important;
}

/* display mode = flow */
#rc-page-container[data-mode="flow"] .rc-requires-view {
	display:none !important;
}

#rc-page-container[data-mode="flow"] .rc-requires-edit {
	display:none !important;
}

#rc-page-container[data-mode="flow"] .rc-excludes-flow {
	display:none !important;
}

.rc-template {
	display:none !important;
}

.rc-position-relative {
	position:relative;
}

.rc-cursor-pointer {
	cursor:pointer;
	cursor:hand;
}

.rc-display-inline {
	display:inline !important;
}

.rc-display-inline-block {
	display:inline-block !important;
}

.rc-display-block {
	display:block !important;
}

.rc-display-none {
	display:none !important;
}

.rc-requires-content:empty {
	display:none !important;
}

.rc-push-centered {
	position:fixed;
	top:0;
	display:block;
	margin-right:auto;
	margin-left:auto;
}

.rc-push-outer-left {
	position:absolute;
	right:101%;
}

.rc-push-outer-right {
	position:absolute;
	left:101%;
}

.rc-push-outer-bottom {
	position:absolute;
	top:101%;
}

.rc-push-outer-top {
	position:absolute;
	bottom:101%;
}

.rc-push-inner-left {
	position:absolute;
	left:0%;
}

.rc-push-inner-right {
	position:absolute;
	right:0%;
}

.rc-push-inner-bottom {
	position:absolute;
	bottom:0%;
}

.rc-push-inner-top {
	position:absolute;
	top:0%;
}

.rc-opacity-xs {
	opacity:0.05;
}

.rc-opacity-sm {
	opacity:0.25;
}

.rc-opacity-md {
	opacity:0.50;
}

.rc-opacity-lg {
	opacity:0.75;
}

.rc-opacity-none {
	opacity:1.00;
}

.rc-opacity-on-hover {
	-webkit-transition:opacity 0.5s ease-in-out;
	-moz-transition:opacity 0.5s ease-in-out;
	-ms-transition:opacity 0.5s ease-in-out;
	-o-transition:opacity 0.5s ease-in-out;
	transition:opacity 0.5s ease-in-out;
}

.rc-opacity-on-hover:hover {
	opacity:1.0;
	filter:alpha(opacity=100);
}

.rc-opacity-on-active.active {
	opacity:1.0;
	filter:alpha(opacity=100);
}

.rc-min-height-sm {
	min-height:1em;
}

.rc-min-height-md {
	min-height:3em;
}

.rc-min-height-lg {
	min-height:5em;
}

.rc-lorem-ipsum-sm:empty:after {
	content:"Lorem ipsum dolor sit amet, consectetur adipiscing elit.";
	opacity:0.5;
}

.rc-lorem-ipsum-md:empty:after {
	content:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rhoncus tincidunt est, sed auctor odio commodo tristique. Proin pulvinar venenatis tortor. Cras fringilla nec urna ut fermentum. Nunc dolor erat, consectetur a orci eu, mattis condimentum tortor. Fusce suscipit elit.";
	opacity:0.5;
}

.rc-lorem-ipsum-lg:empty:after {
	content:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sem lorem, pretium quis libero eu, dapibus accumsan risus. Aenean bibendum magna tellus. Maecenas elementum massa ut arcu suscipit viverra. Duis venenatis erat eu eros facilisis, ac faucibus magna pellentesque. Praesent a erat sem. Suspendisse commodo sollicitudin tristique. Donec mi tortor, vestibulum fringilla justo at, porta tristique neque. In at lacinia nunc, vitae euismod ipsum.";
	opacity:0.5;
}

.rc-no-border-right {
	border-right:none;
}

.rc-margin-top-xs {
	margin-top:0.25em;
}

.rc-margin-top-sm {
	margin-top:0.50em;
}

.rc-margin-top-md {
	margin-top:1.00em;
}

.rc-margin-top-lg {
	margin-top:2.00em;
}

.rc-margin-bottom-xs {
	margin-bottom:0.25em;
}

.rc-margin-bottom-sm {
	margin-bottom:0.50em;
}

.rc-margin-bottom-md {
	margin-bottom:1.00em;
}

.rc-margin-bottom-lg {
	margin-bottom:2.00em;
}

.rc-margin-left-xs {
	margin-left:0.25em;
}

.rc-margin-left-sm {
	margin-left:0.50em;
}

.rc-margin-left-md {
	margin-left:1.00em;
}

.rc-margin-left-lg {
	margin-left:2.00em;
}

.rc-margin-right-xs {
	margin-right:0.25em;
}

.rc-margin-right-sm {
	margin-right:0.50em;
}

.rc-margin-right-md {
	margin-right:1.00em;
}

.rc-margin-right-lg {
	margin-right:2.00em;
}

.rc-no-margin {
	margin:0px;
}

.rc-margin-xs {
	margin:0.25em;
}

.rc-margin-sm {
	margin:0.50em;
}

.rc-margin-md {
	margin:1.00em;
}

.rc-margin-lg {
	margin:2.00em;
}

.rc-padding-top-xs {
	padding-top:0.25em;
}

.rc-padding-top-sm {
	padding-top:0.50em;
}

.rc-padding-top-md {
	padding-top:1.00em;
}

.rc-padding-top-lg {
	padding-top:2.00em;
}

.rc-padding-bottom-xs {
	padding-bottom:0.25em;
}

.rc-padding-bottom-sm {
	padding-bottom:0.50em;
}

.rc-padding-bottom-md {
	padding-bottom:1.00em;
}

.rc-padding-bottom-lg {
	padding-bottom:2.00em;
}

.rc-padding-left-xs {
	padding-left:0.25em;
}

.rc-padding-left-sm {
	padding-left:0.50em;
}

.rc-padding-left-md {
	padding-left:1.00em;
}

.rc-padding-left-lg {
	padding-left:2.00em;
}

.rc-padding-right-xs {
	padding-right:0.25em;
}

.rc-padding-right-sm {
	padding-right:0.50em;
}

.rc-padding-right-md {
	padding-right:1.00em;
}

.rc-padding-right-lg {
	padding-right:2.00em;
}

.rc-padding-right-xl {
	padding-right:5.00em;
}

.rc-padding-xs {
	padding:0.25em;
}

.rc-padding-sm {
	padding:0.50em;
}

.rc-padding-md {
	padding:1.00em;
}

.rc-padding-lg {
	padding:2.00em;
}

.rc-font-size-sm {
	font-size:90%;
}

.rc-font-size-md {
	font-size:100%;
}

.rc-font-size-lg {
	font-size:150%;
}

.rc-font-size-xl {
	font-size:300%;
}

.rc-width-sm {
	width:5em;
}

.rc-width-md {
	width:15em;
}

.rc-width-lg {
	width:30em;
}

.rc-width-xl {
	width:100%;
}

.rc-text-align-center {
	text-align:center;
}

.rc-text-align-left {
	text-align:left;
}

.rc-text-align-right {
	text-align:right;
}

.rc-vertical-align-top {
	vertical-align:top;
}

.rc-vertical-align-middle {
	vertical-align:middle;
}

.rc-vertical-align-bottom {
	vertical-align:bottom;
}

.rc-fixed-150x100 {
	width:150px;
	height:100px;
}

.rc-fixed-150x150 {
	width:150px;
	height:150px;
}

.rc-fixed-50x50 {
	width:50px;
	height:50px;
}

.rc-state-highlight {
	height:1.5em;
	line-height:1.2em;
}

.rc-zindex-sm {
	z-index:-100;
}

.rc-zindex-md {
	z-index:0;
}

.rc-zindex-lg {
	z-index:100;
}

.rc-hidden-empty:empty {
	display:none !important;
}

.rc-clear-both {
	clear:both;
}

/* If the placeholder is the only child in the column container, show it, otherwise hide */
.rc-requires-only-child {
	display:none;
}

.rc-requires-only-child:first-child:last-child {
	display:block;
}

.rc-state-highlight + .rc-requires-only-child {
	display:block;
}

.rc-currency-usd:before {
	content:"$";
}

.rc-currency-eur:before {
	content:"?";
}

.rc-component-content {
	clear:both;
}

/** Label orientation for components */
.rc-component[css-orientation="horizontal"] .form-group .rc-label-container {
	float:left;
	width:30%;
}

.rc-component[css-orientation="horizontal"] .form-group .rc-value-container {
	float:left;
	width:70%;
}

.rc-component[css-orientation="none"] .form-group .rc-label-container {
	display:none !important;
}


/* Input marker css */
.input-group [data-marker] {
	display:none;
}

.input-group[data-required="false"] [data-marker="default"] {
	display:table-cell;
}

.input-group[data-required="true"] [data-marker="required"] {
	display:table-cell;
}

/* Component override */
.rc-component-cart-content .product-entry-row input.product-quantity{
	margin:0px !important;
}

/* Override bootstrap css for checkbox */
input.form-control[type="checkbox"] {
	margin:0px;
	display:block;
	width:auto;
	height:auto;
	padding:0px;
	font-size:1em;
	line-height:0;
	color:#333;
	vertical-align:middle;
	background-color:#fff;
	background-image:none;
	border:none;
	border-radius:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	-webkit-transition:none;
	transition:none;
	color:blue;
}

input.form-control[type="checkbox"]:focus {
	border-color:#66afe9;
	outline:0;
	-webkit-box-shadow:none;
	box-shadow:none;
}

div.rc-error-label {
	color:#b94a48;
}

/* Message popup css */
.message-box {
	position:fixed;
	left:40%;
	border:1px solid;
	margin:1%;
	background-repeat:no-repeat;
	background-position:10px center;
	-moz-border-radius:.5em;
	-webkit-border-radius:.5em;
	border-radius:.5em;
	opacity:0.90;
	filter:alpha(opacity=95);
	z-index:1000;
	cursor:hand;
	cursor:pointer;
}

#rc-workflows-list .dropdown-menu a[disabled="disabled"] {
	color:grey;
}

.rc-component-cm-attribute-content .rc-label-container .attribute-select {
	display:block;
	width:100%;
	height:34px;
	padding:6px 12px;
	font-size:14px;
	line-height:1.428571429;
	color:#555;
	vertical-align:middle;
	background-color:#fff;
	background-image:none;
	border:1px solid #ccc;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* Adding wrapper class to wrap text */
.rc-text-wrap {
	word-wrap:break-word;
}

/* referenced on Campaign_Design_Form_Merge_Field */
.rc-placeholder-link {
    margin-left:54px;
    width:1px;
    height:1px;
}

.rc-placeholder-footer {
    text-align:right;
    padding-top:3px;
}

/* referenced on Campaign_Design_Form_Modal_Templates */
#rc-modal-edit-columns th, #rc-modal-edit-columns td {
	border-right:1px solid #e5e5e5;
	text-align:center;
}

#rc-modal-edit-columns th:last-child, #rc-modal-edit-columns td:last-child {
	border-right:none;
}

/* FA library bootstrap override fix  - keep these at the very bottom of the css */
.fa.btn-sm, .fa.btn-xs {
	padding:5px 10px !important;
	font-size:12px;
	line-height:1.5;
	border-radius:3px;
}

.btn-sm {
	padding:5px 16px !important;
}

form[data-mode="view"] [css-display="hidden"] {
	display:none !important;
}
